@import url("https://fonts.googleapis.com/css2?family=Jost:wght@200;400;800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  font-family: "Montserrat", sans-serif;
}
body {
  width: 100%;
  heigth: 100%;
  background-color: rgb(96 47 129);
}
