@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  font-family: "Montserrat", sans-serif;
}
html {
  font-size: 67.5%;
}
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-size: 2rem;
  background-color: rgb(96 47 129);
}
::-webkit-scrollbar {
  background-color: rgba(142, 30, 194, 0.233);
}
::-webkit-scrollbar-thumb {
  background-color: hsla(283, 32%, 62%, 0.418);
  border-radius: 5px;
}
